<template>
  <div class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-info">
            <h2 class="about-info-title">О нас</h2>
            <span class="about-info-subtitle">Немного о нашей компании</span>
            <p class="about-info-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <button class="my-btn">
              <span>Свяжитесь с нами</span> <i class="icon-edit"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-image">
            <img src="~/assets/images/aboutUs.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
