<template>
  <div class="advantages">
    <div class="container">
      <div class="advantages-header">
        <h3>Наши преимущества</h3>
        <p>Причины по которым стоит выбрать нашу компанию</p>
      </div>
      <div class="row">
        <div v-for="item in cards" :key="item.id" class="col-lg-3">
          <div class="advantages-card">
            <img :src="item.image" alt="">
            <h4>{{ item.title }}</h4>
            <p>{{ item.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          title: "Качество",
          subtitle: "Высокое качество услуг",
          image: require('~/assets/svg/advantages-1.svg'),
        },
        {
          title: "Опыт",
          subtitle: "Более 10 лет в сфере строительства",
          image: require('~/assets/svg/advantages-2.svg'),
        },
        {
          title: "Сроки",
          subtitle: "Сдача проекта во время",
          image: require('~/assets/svg/advantages-3.svg'),
        },
        {
          title: "Гарантия",
          subtitle: "Гарантия долговечности проекта",
          image: require('~/assets/svg/advantages-4.svg'),
        },
      ],
    };
  },
};
</script>

<style></style>
