<template>
  <div class="banner">
    <div class="swiper-navigation">
      <i class="icon-angle-left banner-icon-left"></i>
      <i class="icon-angle-right banner-icon-right"></i>
    </div>
    <client-only>
      <swiper :options="bannerOptions" :loadtheme="false">
        <swiper-slide v-for="item in data" :key="item.id">
          <div
            class="banner-item"
            :style="{
              'background-image': 'url(' + item.image + ')',
            }"
          >
            <h1>{{ item.title || "" }}</h1>
            <span> {{ item.sub_title || "" }} </span>
          </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // swiper options
      bannerOptions: {
        slidesPerView: 1,
        pagination: {
          el: ".swiper-pagination",
        },
        navigation: {
          nextEl: ".banner-icon-right",
          prevEl: ".banner-icon-left",
        },
      },

      // data
      data: [
        {
          id: 1,
          title: "строительные работы ",
          sub_title: "Высокого качества",
          image: require("~/assets/images/banner.jpg"),
        },
        {
          id: 2,
          title: "Высокого качества",
          sub_title: "строительные работы",
          image: require("~/assets/images/banner3.jpg"),
        },
        {
          id: 3,
          title: "строительные работы",
          sub_title: "Высокого качества",
          image: require("~/assets/images/banner.jpg"),
        },
      ],
    };
  },
};
</script>

<style></style>
