<template>
  <div class="communicate">
    <div class="container">
      <div class="communicate-header">
        <h3>Свяжитесь с нами</h3>
        <p>Обратная связь</p>
      </div>
      <div class="communicate-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="communicate-inputs">
                <input type="text" placeholder="Ваше имя" />
                <input type="text" placeholder="Телефон" />
              </div>
            </div>
            <div class="col-lg-6">
              <textarea placeholder="Комментарий"></textarea>
            </div>
          </div>
          <button class="my-btn">
            <span>Отправить</span> <i class="icon-edit"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>