<template>
  <div class="contact">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.67078700275!2d69.22168998031383!3d41.29426889778263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bcabaa99f3d%3A0x2ae470b210cafc3e!2s%22BRONZE%20VENUS%22!5e0!3m2!1sru!2s!4v1640687489052!5m2!1sru!2s"
      width="100%"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <div class="contact-card">
      <h3>Контакты</h3>
      <ul class="contact-info">
        <li>Телефон:<a href="tel:+99893 505 45 05">+99893 505 45 05</a></li>
        <li>
          Адрес <a href="#">
            г. Ташкент, Яккасарайский район, ул.Ш.Руставелли,ваг.пр2, дом 1</a
          >
        </li>
        <li>
          Соц сети:
          <ul class="contact-social">
            <li><a href="https://www.instagram.com"><img src="~/assets/svg/instagram.svg" alt=""></a></li>
            <li><a href="https://www.facebook.com"><img src="~/assets/svg/facebook.svg" alt=""></a></li>
            <li><a href="https://www.telegram.org"><img src="~/assets/svg/telegram.svg" alt=""></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>