<template>
  <div class="partners">
    <div class="container">
      <div class="partners-title">
        <h3>наши партнеры</h3>
        <p>Компании которые нам доверяют</p>
      </div>
      <!-- <div class="swiper-navigation">
        <i class="icon-arrow banner-left"></i>
        <i class="icon-arrow banner-right"></i>
      </div> -->
      <client-only>
        <swiper ref="mySwiper" :options="partnersOptions">
          <swiper-slide
            class="partners-card"
            v-for="item in partners"
            :key="item.id"
            ><img :src="item.image" alt=""
          /></swiper-slide>
        </swiper>
      </client-only>
      <div class="partners-swiper-pagination"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      partnersOptions: {
        slidesPerView: 5,
        spaceBetween: 19,
        loop: true,
        pagination: {
          el: ".partners-swiper-pagination",
        },
      },
      partners: [
        {
          image: require("~/assets/images/artel.png"),
        },
        {
          image: require("~/assets/images/akfa.png"),
        },
        {
          image: require("~/assets/images/apple.png"),
        },
        {
          image: require("~/assets/images/samsung.png"),
        },
        {
          image: require("~/assets/images/eriell.png"),
        },
      ],
    };
  },
};
</script>

<style></style>
