<template>
  <div class="projects">
    <div class="container">
      <!-- error1 titlmas header qilish kerak -->
      <div class="projects-wrapper">
        <div class="projects-header">
          <h3>Проекты</h3>
          <p>Объекты построенные нами</p>
        </div>

        <!-- error2 xardoim swiperni bita blockga o'rash kerak ! -->
        <div class="projects-body">
          <div class="swiper-navigation">
            <i class="icon-angle-left projects-icon-left"></i>
            <i class="icon-angle-right projects-icon-right"></i>
          </div>
          <client-only>
            <!-- error 3 bem qoidasiga mofiq klass qoyamiz -->
            <swiper :options="projectOptions" :loadtheme="false">
              <swiper-slide v-for="item in projects" :key="item.id">
                <div class="projects-card">
                  <div class="projects-card-image">
                    <img :src="item.image" alt="" />
                  </div>
                  <div class="projects-card-info">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.text }}</p>
                    <button class="my-btn">
                      <span>Посмотреть </span><i class="icon-eye"></i>
                    </button>
                  </div></div
              ></swiper-slide>
            </swiper>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projectOptions: {
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
          nextEl: ".projects-icon-right",
          prevEl: ".projects-icon-left",
        },
      },
      projects: [
        {
          id: 1,
          image: require("~/assets/images/projects1.png"),
          title: "Lorem ipsum",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
        },
        {
          id: 2,
          image: require("~/assets/images/projects3.png"),
          title: "Lorem ipsum",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
        },
        {
          id: 3,
          image: require("~/assets/images/projects2.png"),
          title: "dolor sit amet",
          text: "Sed do eiusmod tempor incididunt ut labore",
        },
        {
          id: 4,
          image: require("~/assets/images/projects3.png"),
          title: "adipiscing elit",
          text: "Ut enim veniam, quis nostrud exercitation ullamco laboris",
        },
      ],
    };
  },
};
</script>

<style></style>
