* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

ul,
p,
h4,
h3 {
  margin: 0;
  padding: 0;
}

.my-btn {
  display: flex;
  align-items: center;
  height: 60px;
  background: #fff;
  border: 2px solid #15a484;
}
.my-btn span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #15a484;
  padding: 0 30px;
}
.my-btn i {
  width: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #15a484;
  font-size: 22px;
}

a,
a:hover {
  text-decoration: none;
}

.header {
  /* height: 108px; */
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-menu ul {
  display: flex;
  align-items: center;
}
.header-menu ul li {
  height: 108px;
  position: relative;
  display: flex;
  align-items: center;
}
.header-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #15a484;
  transition: all 0.3s ease-in-out;
}
.header-menu ul li a.nuxt-link-exact-active::after {
  width: 100%;
}
.header-menu ul li:not(:first-child) {
  margin-left: 50px;
}

.header-menu ul li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #313131;
}

.header-menu ul li a.active {
  color: #15a484;
}

.active-block {
  height: 6px;
  width: 62px;
  background-color: #15a484;
  display: none;
  position: absolute;
  bottom: 0;
}

/*  */

/* Banner */
.banner {
  height: calc(100vh - 108px);
  overflow: hidden;
  position: relative;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

.banner .swiper-container {
  height: 100%;
}

.banner-item {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-item h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 63px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
  margin-bottom: 20px;
}

.banner-item span {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 36, 34, 0.6);
  z-index: -1;
}

.banner .banner-icon-left {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 30px;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
}

.banner .banner-icon-right {
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 30px;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
}

.banner .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7);
}

.banner .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 1);
}

.banner .swiper-button-disabled {
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

/* Banner */

/* about */

.about {
  padding-top: 80px;
}

.about-info-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 12px;
}

.about-info-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a6aabe;
  margin-bottom: 22px;
  display: block;
}

.about-info-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #132845;
  margin-bottom: 40px;
}

/* about */

/* projects */
.projects {
  padding: 70px;
}

.projects-header {
  text-align: center;
  margin-bottom: 36px;
}

.projects-header h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 13px;
}

.projects-header p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a6aabe;
}

.projects-body {
  position: relative;
}

.projects-icon-right {
  position: absolute;
  right: -80px;
  top: 50%;
  z-index: 2;
  font-size: 30px;
  color: #15a484;
}
.projects-icon-left {
  position: absolute;
  left: -80px;
  top: 50%;
  z-index: 2;
  font-size: 30px;
  color: #15a484;
}

.projects-card {
  background: #ffffff;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.06);
  text-align: center;
  transition: 0.5s;
}

/* .project-info {
  padding: 0 30px;
} */

.projects-card-image {
  height: 240px;
  margin-bottom: 24px;
}

.projects-card-image img {
  width: 100%;
  height: 100%;
}
.projects-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 50px;
}

.projects-card-info h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 10px;
}

.projects-card-info p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #132845;
  margin-bottom: 20px;
}

.projects-card:hover .my-btn {
  background: #15a484;
  border: 2px solid #15a484;
}

.projects-card:hover .my-btn span {
  color: #fff;
}

.projects-card:hover .my-btn i {
  background: #fff;
  color: #15a484;
}

.projects-card:hover {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.14);
}

.projects .swiper-container {
  padding: 12px;
  margin: -12px;
}

.projects .swiper-button-disabled {
  color: #cad5e4;
  pointer-events: none;
}

/* projects */

/* partners */

.partners {
  padding: 68px 0 82px;
  background: #f1f1f1;
}

.partners .swiper-pagination {
  position: absolute;
  bottom: -40px;
}

.partners-title {
  margin-bottom: 38px;
  text-align: center;
}

.partners-title h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 13px;
}

.partners-title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a6aabe;
}

.partners-card {
  background: #ffffff;
  padding: 15px 26px;
}

.partners .partners-swiper-pagination {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners .swiper-pagination-bullet {
  margin: 0 4px;
}

.partners .swiper-pagination-bullet {
  background-color: #b5b5b5;
  opacity: 0.3;
}

.partners .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #15a484;
  opacity: 1;
}

.connect {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #15a484;
  border: 2px solid #15a484;
  padding-left: 30px;
  background: unset;
  display: flex;
  align-items: center;
}

.connect-us i {
  height: 56px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #15a484;
  color: #fff;
  margin-left: 30px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* advantages */

.advantages {
  background: #15a484;
  margin-top: 80px;
  padding: 70px 0;
}

.advantages-header {
  margin-bottom: 32px;
  text-align: center;
}

.advantages-header h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}

.advantages-header p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
}

.advantages-card {
  text-align: center;
}

.advantages-card img {
  margin-bottom: 14px;
}

.advantages-card h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}

.advantages-card p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

/* advantages */

.contact {
  position: relative;
}

.contact-card {
  position: absolute;
  top: 30%;
  left: 10%;
  padding: 22px 30px 30px;
  background-color: #fff;
}

.contact-card h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 24px;
}

.contact-info li {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a6aabe;
  display: flex;
}

.contact-info li:last-child {
  margin-bottom: 0;
  align-items: center;
}

.contact-info li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #132845;
  max-width: 312px;
  text-transform: capitalize;
  display: block;
  margin-left: 19px;
}

.contact-social {
  display: flex;
}

.contact-social li {
  margin-bottom: 0;
}

/* communicate */
.communicate {
  margin-top: 68px;
}

.communicate-header {
  margin-bottom: 35px;
}

.communicate-header h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #132845;
  margin-bottom: 13px;
}

.communicate-header p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a6aabe;
}

.communicate-inputs {
  display: flex;
  flex-direction: column;
}

.communicate-inputs input {
  height: 60px;
  margin-bottom: 20px;
  padding: 20px;
  background: #f7f7f7;
  border: unset;
}

.communicate-inputs input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #132845;
}

.communicate-inputs input:focus-visible {
  outline: unset;
}

.communicate-body textarea {
  width: 100%;
  padding: 20px;
  background: #f7f7f7;
  border: unset;
  resize: unset;
  height: 140px;
}

.communicate-body textarea:focus-visible {
  outline: unset;
}

.communicate-body .my-btn {
  margin: 0 auto;
}

.footer {
  background: #0b2625;
  margin-top: 80px;
}

.footer-top {
  padding: 26px 0;
  border-bottom: 1px solid rgba(240, 243, 248, 0.3);
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list li {
  margin-right: 60px;
}

.footer-list li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list li a.active {
  color: #15a484;
}

.footer-bottom {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  height: 104px;
  width: auto;
}

.footer-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #738d8c;
}

.footer-info p:not(:last-child) {
  margin-bottom: 19px;
}
