<template>
  <main class="home-wrapper">
    <section class="home-banner">
      <Banner />
    </section>
    <section class="home-about">
      <About />
    </section>
    <section class="home-advantages">
      <Advantages />
    </section>
    <section class="home-projects">
      <Projects />
    </section>
    <Partners />
    <Contact />
    <Communicate />
  </main>
</template>

<script>
export default {
  name: "IndexPage",
};
</script>
