<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-top">
        <ul class="footer-list">
          <li v-for="item in menuList" :key="item.id">
            <nuxt-link to="">{{ item.title }}</nuxt-link>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
          <div class="footer-logo">
              <img src="~/assets/images/footer-logo.png" alt="">
          </div>
          <div class="footer-info">
              <p>«Steel Builders» Все права защищены</p>
              <p>&copy; Copyright 2021 - Web developed by SOS Group</p>
          </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      menuList: [
        {
          title: "Главная",
          link: "/",
        },
        {
          title: "О нас",
          link: "/",
        },
        {
          title: "Преимущества",
          link: "/",
        },
        {
          title: "Проекты",
          link: "/",
        },
        {
          title: "Партнеры",
          link: "/",
        },
        {
          title: "Обратная связь",
          link: "/",
        },
      ],
    };
  },
};
</script>

<style>
</style>