<template>
  <header class="header">
    <div class="container">
      <div class="header-wrapper">
        <div class="header-logo">
          <nuxt-link to="/">
            <img src="~/assets/images/header-logo.png" alt="" />
          </nuxt-link>
        </div>
        <div class="header-menu">
          <ul>
            <li v-for="item in menuList" :key="item.id">
              <nuxt-link :to="item.link">{{ item.title }}</nuxt-link>
            </li>
            <div ref="activeblock" class="active-block"></div>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      menuList: [
        {
          title: "Главная",
          link: "/",
        },
        {
          title: "О нас",
          link: "/about",
        },
        {
          title: "Преимущества",
          link: "/advantages",
        },
        {
          title: "Проекты",
          link: "/projects",
        },
        {
          title: "Партнеры",
          link: "/partners",
        },
        {
          title: "Обратная связь",
          link: "/contacts",
        },
      ],
    };
  },
};
</script>

<style></style>
